/* Details panel component */

.details-panel {
  display: none;
}

/* Panel behavior *when used as a modal* */
.modal-open .details-panel {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 90%; /* or whatever you want */
  height: calc(100% - 2rem);
  background-color: #fff;
  z-index: 1100; /* panel above backdrop */
  overflow-y: auto;
  padding: 1rem;
}