/* 
Details panel modal behavior
----------------------------
Applied to <body> while the details panel is open
to prevent background scrolling.
This is intentionally scoped to the DetailsPanelView.
*/
body.modal-open {
    overflow: hidden;
}

.modal-open .details-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 90%; /* or whatever you want */
  height: calc(100% - 2rem);
  background-color: #fff;
  z-index: 1100; /* panel above backdrop */
  overflow-y: auto;
  padding: 1rem;
}